body {
  margin: 0;
}

/* Container - Menu and Content */
.container {
  display: flex;

}

/* Menu */

.menu {
  width: 250px;
}

.menu h1 a {
  text-align: center;
  font-family: 'Tangerine', serif;
}

.menu a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  text-align: left;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}

.menu a:hover,
.menu a.active {
  background-color: #dbdacd;
  color: #000000;
}

/* Submenu */

.submenu {
  display: block;
}

.submenu a {
  padding-left: 25px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Main Image Index */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

/* Context/H1-P Index */
.content-index {
  position: relative;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.content-index h1 {
  font-size: 40px;
  color: #9d9c8e;
  font-family: 'Tangerine', serif;
}

.content-index h2 {
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
}

.content-index p {
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
}

.button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #dbdacd;
  font-family: "Cormorant Garamond", serif;
}

/* Gallery Page */

#gallery {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
  overflow: hidden;
}

#gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

#gallery img:hover {
  transform: scale(1.066);
}

/* Contact Page */

.contact-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;
  background-color: #f8f8f8;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 10px 10px 10px 10px;
  font-family: "Cormorant Garamond", serif;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 16px;
  width: 40%;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}

.contact-form input[type="submit"] {
  background-color: #dbdacd;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s;
  border-style: none;
  font-family: "Cormorant Garamond", serif;
}

.contact-form input[type="submit"]:hover {
  background-color: #c0bfae;

}

.contact-form h2 {
  margin-bottom: 10px;
  font-family: "Cormorant Garamond", serif;
}

.contact-text {
  width: 60%;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  font-family: "Cormorant Garamond", serif;
  margin-top: 0px;
  margin-bottom: 10px;
}

/* About page */

.about-page .top-title {
  margin-top: 5px;
  font-size: 3em;
  font-family: 'Tangerine', serif;
  text-align: center;
}

.about-page .about {
  font-size: 1.5em;
  margin-top: -40px;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}

.about-page .about-photo {
  display: block;
  max-width: 50%;
  height: auto;
  margin: 0px;
  border-radius: 0px;
}

.about-page .contact-text {
  font-size: 1em;
  width: 60%;
  margin: 20px auto;
  text-align: center;
  line-height: 1.6;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: #000000;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  background-color: #c0bfae;
}


/* Lightbox simples */
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

#lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 35px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* Photo-row */
.photo-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  /* se a tela for pequena, permite quebrar linha */
  width: 100%;
}

.photo-row img {
  width: calc((100% - 20px) / 3);
  /* 3 fotos + 2 gaps de 10px */
  height: auto;
  object-fit: cover;
}

.photo-row img:hover {
  transform: scale(1.033);
}